---
import type { Project } from '../../services/projects/project-factory';
import ColorIcon from './ColorIcon.astro';
import ImageIcon from './ImageIcon.astro';

export interface Props {
  project: Project
}

const { project } = Astro.props as Props;
---

<a class="container" href={project.url} target="_blank">
  <h2>{project.name}</h2>
  <p>{project.description}</p>
  <section class="spacer"></section>
  <section class="icons">
    <ImageIcon name="star.svg" 
      text={project.stars} 
      greyedOut={project.stars === 0}/>

    {
      (project.downloads !== null && project.downloads.downloads > 0) &&
        <ImageIcon name="downloads.svg" 
          text={project.downloads!.downloads} 
          greyedOut={false} />
    }

    {
      (project.language !== null) &&
        <ColorIcon color={project.language.color} 
          text={project.language.shortName} />
    }
  </section>
</a>

<style>
.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  padding: 1em;
  height: 100%;
  width: 100%;
  color: black;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.container:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

h2 {
  font-size: 1.2rem !important;
  margin: 0 0 1rem 0 !important;
}

.icons {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
}

.spacer {
  flex-grow: 1;
}
</style>