---
import Sidebar from "../components/sidebar/Sidebar.astro";
import { siteTitle } from "../static/navigation";
import BaseLayout from "./BaseLayout.astro";
import type { CollectionEntry } from 'astro:content';
import { getNeighbourArticles } from "./utils/previous-next-article";
import PreviousNextArticles from "../components/PreviousNextArticles.astro";
import Container from "../components/Container.astro";
import Singature from "../components/Singature.astro";

interface Props {
    slug: string;
    frontmatter: CollectionEntry<'articles'>['data']; // any?
}

const { frontmatter, slug } = Astro.props;
const neighbours = await getNeighbourArticles(slug);
---

<BaseLayout 
        pageTitle={`${frontmatter.title} | ${siteTitle}`} 
        description={frontmatter.description} 
        tags={frontmatter.tags}>
    <div class="container">
        <div class="sidebar">
            <Sidebar />
        </div>

        <main>
            <Container>
                <section class="article">
                    <div><slot /></div>
                </section>

            {
                neighbours.previous || neighbours.next ?             
                    <div class="previous-next"><PreviousNextArticles articles={neighbours}/></div> : 
                    <></>
            }
            </Container>
        </main>
    </div>

    <div slot="hamburger-panel-content">
        <Sidebar />
    </div>
</BaseLayout>

<style>
    .container {
        display: flex;
    }

    main {
        margin: 3.5rem auto 0;
        max-width: 820px;
    }

    .sidebar {
        padding-top: 2rem;
        margin-left: 1rem;
        padding-right: 2rem;
        /* border-right: 1px solid gray; */
    }
    
    .previous-next {
        border-top: 1px solid var(--border-color);
        padding-top: 1rem;
        margin-top: 2rem;
        font-size: 1.1rem;
    }

    .content {
        display: flex;
    }

    .signature {
        margin-top: 2rem;
        display: flex;
        justify-content: flex-end;
    }

    @media only screen and (max-width: 920px) {
        .sidebar {
            display: none;
        }

        main {
            width: 100vw;
            min-width: initial;
            margin: 0 auto;
        }
    }
</style>
